<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
        <link href="/static/css/styles.css" rel="stylesheet">
        <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://www.jsdelivr.com/package/npm/pdfjs-dist"></script>
        <!-- results -->
        <script src="static/js/components/results.js"></script>
        <!-- search -->
        <script src="/static/js/components/search.js"></script>
        <!-- display -->
        <script src="static/js/components/display.js"></script>
        <!-- root of application -->
        <script src="/static/js/app.js"></script>
    </head>
    <body>
        <div id="app">
            <root></root>
        </div>
    </body>
</html>